#cssmenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#cssmenu li {
    float: left;
    width:150px;
}

#cssmenu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 0px;
    text-decoration: none;
}

#cssmenu li a:hover:not(.active) {
    background-color: #111;
}

#cssmenu .active {
    background-color: #4CAF50;
}

