<head>
    <script src="js/jquery-1.9.1.min.js"></script>
    <title>login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <style type="text/css">


        .vertical-offset-100{
            padding-top:100px;
        }
    </style>


    <script>
        $(function () {

            $("#btn_login").click(function () {

                var username = $('#txt_username').val();
                var password = $('#txt_password').val();

                var url_login = 'cek_user.php';
                var url_admin = 'index.php';

                $.ajax({
                    url: url_login,
                    //mengirimkan username dan password ke script url_login
                    data: 'var_usn=' + username + '&var_pwd=' + password,
                    //Method pengiriman
                    type: 'POST',
                    //Data yang akan diambil dari script pemroses
                    dataType: 'json',
                    //Respon jika data berhasil dikirim
                    success: function (data) {
                        if (data == 'OK') {
                            //Arahkan ke halaman admin jika script pemroses mencetak kata ok
                            window.location = url_admin;
                        }
                        else {
                            //Cetak peringatan untuk username & password salah
                            alert(data);
                        }
                    },
                });
            });

        });
    </script>

</head>
<body>


    <div class="container">
        <div class="row vertical-offset-100">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 align="center" class="panel-title"><span class="form-group"><img src="../logo.jpg" width="280" height="144"></span></h3>
                        <h1 align="center" class="panel-title"><strong>Silahkan Login</strong></h1>
                    </div>
                    <div class="panel-body">
                        <div align="center">
                            <p class="panel-title"><strong><span class="form-group">
                                        <input class="form-control" placeholder="Username" name="username" type="text" value="" id="txt_username">
                                    </span></strong></p>
                            <p align="center" class="panel-title"><strong><span class="form-group">
                                        <input class="form-control" placeholder="Password" name="password" type="password" value="" id="txt_password">
                                    </span></strong></p>
                        </div>
                    </div>
                    <div class="form-group">

                        <div align="center"></div>
                    </div>
                    <div class="checkbox">
                        <label>

                            <div align="left">
                                <input name="remember" type="checkbox" value="lupa password">
                                lupa password
                            </div>
                        </label>
                    </div>
                    <div align="center">
                        <input class="btn btn-lg btn-success btn-block" type="submit" value="Login" name="login" id="btn_login">
                        <input class="btn btn-lg btn-success btn-block" type="submit" value="Cancel">
                        </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div align="center">
    </div>
</div>
</body>
</html>

